.white {
  
  height: 550px;
  // margin: 0 auto;
}
.foto {
  // width: 600px;
}
.fotka {
  width: 510px;

  margin-top: 100px;
}
.textt {
  margin-top: 80px;
}
.p2 {
  margin-top: 25px;
}

@media (max-width: 990px) {
  .foto {
    text-align: center;
  }
  .fotka {
    margin-top: 35px;
  }
  .white {
    height: 1000px;
  }
  .textt {
    margin-top: 35px;
  }
 
}
